<h1>Click an image to choose your move!</h1>

  <form action="/output">
    <div class="row">
      <div class="col-lg-4">
        <img src="img/rock.jpg" alt="rock"/>
        <button type="submit" name="move" value="rock" class="btn btn-info" id="r">Rock</button>
      </div>
      <div class="col-lg-4">
        <img src="img/paper.jpg" alt="paper"/>
        <button type="submit" name="move" value="paper" class="btn btn-info" id="p">Paper</button>
      </div>
      <div class="col-lg-4">
        <img src="img/scissors.jpg" alt="scissors"/>
        <button type="submit" name="move" value="scissors" class="btn btn-info" id="s">Scissors</button>
      </div>
    </div>
  </form>
